* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #4E5BEE;
    color: white;
    
}

a {
    text-decoration: none;
    color: white;
}
.content-container {
    width: 95vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header {
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100%;
    max-width: 190px;
}

form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
margin-top: 4rem;
}
 form fieldset {
     border: 2px solid white;
     border-radius: 30px;
    margin-bottom: 15px;
    }
form input {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border: none;
    outline: none;
}
.fas, .button {
    font-size: 18px

}
.button  {
    background-color: white; 
    padding: 13px 120px;
    border-radius: 30px;
    margin-top: 10px;

}

footer {
    margin-top: 10vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.hero {
    display: none;
    background-color: #F8F8F8;
}
@media (min-width: 1000px) {
    body {
        display: flex;
    }
    .hero {
        width: 50%;
        display: flex;  
    }

    .hero img {
        width: 100%;
    }
    .content-container {
        width: 50%;
    }
    /* .content-container {
        width: 50%;
    }
    
    .hero {
        display: flex;
        width: 50%;
    } */
}
