body {
    background: #4E5BEE;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    margin: 0 auto;
}

header img {
    width: 60%;
    max-width: 300px;
}

form {
    outline: none;
    width: 90%;
    height: 80vh;
    outline: none;
}

form fieldset {
    width: 90%;
    max-width: 500px; 
    
    display: flex;
    
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    
    margin: 5% auto;
}
.input-container {
    display: flex;
    align-items: center;

    margin: 0 auto;



}

form input {
    width: 90%;
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fas {
    color: rgba(255, 255, 255, 0.788);
    width: 10px;
    height: 10px;
    
}