body {
    background: #4E5BEE;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vh;
}

header img {
    width: 60%;
    max-width: 300px;
}

form {
    outline: none;
    width: 90%;
    height: 80vh;
    outline: none;
}

form fieldset {
    max-width: 500px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    
    margin: 5% auto;
}


form input {
    width: 90%;
    border: none;
    background: none;
    outline: none;
}

.fas {
    color: rgba(255, 255, 255, 0.788);
    font-size: 30px;

    
}